html {
  box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Arvo', serif;
}

*, *::before, *::after {
  box sizing: inherit;
}

.logo {
  flat: left;
  width: 10%;
}

header {
  background-color: #cbcbcb;
  padding-top: 1em;
}

.nav a {
  color: #fff;
  display: block;
  padding: 0.75em;
  padding-bottom: 0.5em;
  background-color: #775339;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  }

.nav li {
  display: inline-block;
  width: 25%;
  float: left;
}

.nav {
  padding-left: 0;
}

.nav a:hover {
  background-color: #512100;
  opacity: 0.75;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

dl li {
  list-style-type: none;
}

img {
  width: 100%;
  padding: 0;
}

.intro{
  text-align: center;
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 0.25em;
}

.seven {
  background-image: url("../images/helen.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 0.025em;
  color: white;
  text-shadow: 2px 2px #000;
  margin-bottom: 1em;
}

.seven h2{
  margin: 0;
  padding-top: 1em;
}

.atlantis {
  max-height: 75vh;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  background: url("../images/atlantisz.jpg") no-repeat;
  color: black;
  background-size: 100% 100%;
  text-align: center;
  padding-bottom: 1.5em;
}

footer {
background-color: #cbcbcb;
text-align: center;
text-decoration: none;
list-style-type: none;
margin-right: 66px;
}

.atlantis-content {
  color: white;
  text-shadow: 2px 2px black;
}

.masthead {
  padding-top: 6em;
  background-image: url("../images/beetle.svg"), url("../images/beetle.svg"), url("../images/mini-waves.png");
  background-size: 75px auto, 75px auto, 100px auto;
  padding-top: 1.5em;
  padding-bottom: 3.3em;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: right 25px, left 25px, left top;
  display: block;
}
